body {
  background-color: gainsboro;
  height: 100vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  margin: 0;
}

header,
footer {
  --height: 50px;
  min-height: 1em;
  background: Wheat;
}

header {
  background-position: center;
  color: black;
}

a {
  text-decoration: none;
}

button {
  padding: 10px 20px;
  margin: 5px;
  font-size: 16px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

nav label,
nav input[type="radio"]{
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 10px;
}

#answer-container,#question-container{
  margin: 10px;
}

/* Progress Bars */
#pOk, #pNok {
  display: inline-block;
  width: 45%;
  height: 20px;
  border-radius: 5px;
}
#pOk{
  border: 1px solid green;
}
#pNok{
  border: 1px solid red;
}
#pOk::-moz-progress-bar{
  background:green;
}
#pNok::-moz-progress-bar{
  background:red;
}
/* Label für die Progress Bars */
#pOk::after, #pNok::after{
  content: attr(data-label);
  font-size: 12px;
  position: absolute;
  top: -25px;
  left: 0;
}

/* ------Für Chrome, Edge, Safari --------------*/
/*#pOk::-webkit-progress-value{*/
/*  background-color: green;*/
/*}*/
/*#pNok::-webkit-progress-value{*/
/*  background-color: red;*/
/*}*/

/* ------- Rahmen + Abstände -------- */
header,
article,
nav,
aside,
footer {
  margin: 0.25em;
  padding: 0.5em;
  border: 1px solid #ccc;
  border-radius: 0.5em;
}

/* -------- Fley-Container für Flex-Items: article, nav, aside  */
main {
  background-color: grey;
  display: flex;
  flex: 1;
  margin: 0.25em;
}

/* Flex-Items mit felx-grow, flex-shrink, flex-basis */
nav {
  background: SkyBlue;
  order: 1;
}
article {
  background: lightyellow;
  order: 2;
  flex: 3 3 0%;
}
aside {
  background: yellowgreen;
  order: 3;
  flex: 1 1 0%;
}

/* wenn Viewport kleiner als 40 Zeichen -> eine Spalte, Reihenfolge */
@media all and (max-width: 40em) {
  main {
    flex-direction: column;
  }
  /* Änderung der Reihenfolge für Kinder in Folge lt. html */
  main > * {
    order: 0;
  }
}

/* Automatische Silbentrennung */
body {
  hyphens: auto;
  -webkit-hyphens: auto;
}
